@model IEnumerable<Zero_Hunger.DB.Employee>

@{
    ViewBag.Title = "ShowEmplovee";
}

<h2>ShowEmplovee</h2>

<p>
    @Html.ActionLink("Create New", "AddEmplovee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Assign", "AssignEmplovee", new { id=item.EmId }) |
            @Html.ActionLink("Delete", "DeleteEmplovee", new { id = item.EmId })
        </td>
    </tr>
}

</table>
